/* src/components/Career.css */
.career-container {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
    font-family:"Poppins", sans-serif;
  }
  
  .positions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .position-card {
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .position-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }
  
  .position-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .position-description {
    font-size: 1rem;
    color: #666;
  }
  