/* src/components/Career.css */
.career-container {
    padding: 40px;
    background-color: #f9f9f9;
    text-align: center;
    font-family:"Poppins", sans-serif;
  }
  
  .positions-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .carrer-heading{
    font-size: 1.5rem;
  }
  
  .position-card {
    position: relative;
    width: 250px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background: #fff;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .position-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .position-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 1);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: height 0.5s;
}

/* Apply button styling within the overlay */
.overlay .applybtn {
    margin-top: 20px;
}

/* Show overlay on hover */
.position-card:hover .overlay {
    opacity: 1;
    transform: scale(1.1);
}
  
  
  .position-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .position-description {
    font-size: 1rem;
    color: #666;
  }
  
  .applybtn button{
    padding: 10px 40px;
    border-radius: 20px;
    color: #4b2e77;
    border: 2px solid #4b2e77;
    outline: none;
    background-color: #fff;
  }

  .applybtn button:hover{
    color: white;
    background-color: #4b2e77;
  }



  @media (max-width: 768px) {
    .positions-list {
      justify-content: space-between;
    }
  
    .position-card {
      width: calc(50% - 10px); /* Two cards per row with a 10px gap */
    }
  }
  
  /* Optional: Media query for extra small screens */
  @media (max-width: 480px) {
    .position-card {
      width: 100%; /* Full width on extra small screens */
    }
    .position-title {
      font-size: 1.2rem;
    }
  }