.Gallerycontainer {
    font-family: "Poppins", sans-serif;
    text-align: center;
    position: relative;
    padding: 0 20px;
}

.headingcontainer{
    display: flex;
    flex-direction: column; /* Stack heading and button vertically */
    align-items: center; /* Center items horizontally */
    margin-bottom: 20px;
}

.heading {
    font-weight: 700;
    font-size: 30px;
    margin: 0px;
}



.image-grid {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.image-container {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-img:hover {
    transform: scale(1.05);
}
.homebtn{
    margin:20px 0;
}

.homebtn button {
    background-color: #4b2e77; /* Primary color */
    color: #fff;
    padding: 10px 20px; /* Adjusted padding */
    font-size: 14px; /* Adjusted font size */
    font-weight: bold;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    align-items: center; 
}

.material-symbols-outlined {
    color: #fff;
    padding-right: 10px; /* Adjusted padding */
}
@media (max-width: 768px) {
    .heading {
        font-size: 24px; /* Smaller font size on mobile */
    }
    
    .gallery-img {
        height: 150px; /* Reduce height for smaller screens */
    }
    
    .homebtn button {
        font-size: 12px;
        padding: 8px 16px; /* Smaller font size for buttons on mobile */
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 18px; /* Further reduce font size on very small screens */
        margin: 0 10px; /* Add some margin to prevent edge-to-edge text */
    }

    .gallery-img {
        height: 150px; 
        width: 100%;/* Further reduce height for very small screens */
    }

    .homebtn {
        margin: 20px 0; /* Add margin to ensure button is spaced well from other elements */
    }

    .homebtn button {
        padding: 10px 20px; /* Adjust padding to better fit small screens */
        font-size: 14px; /* Increase font size slightly for readability */
    }
}
