/* Gallery.css */
.gallery-container {
    padding: 20px;
    text-align: center;
    font-family:"Poppins", sans-serif;
  }
  
  .gallery-container h2 {
    margin-bottom: 20px;
    color: #08003a;
  }
  
  .gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .gallery-card {
    flex:  1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  

  .galleryimg {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
  }
  
  .seemorebtn button{
    background-color: #4b2e77; /* Primary color */
    color: #fff;
    margin: 17px 0px;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    outline: none;
    border: none;
  }


  @media (max-width: 768px) {
    .gallery-card {
        flex: 1 1 calc(50% - 20px); /* Two items per row */
        max-width: calc(50% - 20px); /* Ensure it doesn't exceed the width */
    }
}

@media (max-width: 480px) {
    .gallery-card {
        flex: 1 1 100%; /* One item per row */
        max-width: 100%; /* Ensure it doesn't exceed the width */
    }

    .galleryimg {
        height: 200px; /* Adjust height for better fit on small screens */
    }
}