/* Base styling for the container */
.index-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;/* Light background color */
  min-height: 80vh; /* Ensure it takes up at least the full viewport height */
  overflow: hidden; 
}

.authorname{
  font-size: 5px;
}


.index-container h3{
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 2.0rem; /* Increase font size */
  color: #333; /* Dark text color for contrast */
  line-height: 1.4; /* Adjust line height for better readability */
  margin: 20px 0; /* Add margin for spacing */
  max-width: 70%; /* Ensure the text does not exceed container width */
}
.center-img {
  max-width: 100%; /* Ensure the image scales within the container */
  height: auto; /* Maintain the image's aspect ratio */
  max-height: 80vh; /* Limit the image height to 60% of the viewport height */
}

span{
  color: #4b2e77;
}

/* Media Queries */
@media (max-width: 1024px) {
  .index-container {
    padding: 0 10px; /* Add some padding */
  }

  .index-container h3 {
    font-size: 2rem; /* Adjust font size for tablets */
    max-width: 80%; /* Increase width for better readability */
  }
}


@media (max-width: 768px) {
  .index-container {
    padding: 0 15px; /* Add some padding */
  }

  .index-container h3 {
    font-size: 1.75rem; /* Adjust font size for larger mobile screens */
    max-width: 85%; /* Increase width for better readability */
  }
}


@media (max-width: 576px) {

  .index-container {
    padding: 0 5px;
    /* Adjust height or padding for mobile view */
    min-height: 50vh; /* Reduce the height to 80% of the viewport height */
  }
  .heading {
    font-size: 1.5rem;
      /* Further adjust font size for mobile screens */
  }

  .index-container h3 {
    font-size: 1.5rem; /* Adjust font size for mobile screens */
    margin: 20px 0; /* Reduce margin for mobile screens */
    display: none; /* Hide the text h3 on mobile screens */
  }

  .center-img {
    max-height: 50vh; /* Further reduce image height for mobile screens */
  }
}

